/* Class styling for top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style elements in navigation bar */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

/* Link hover color */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Current selected link highlighting */
.navbar a.current {
  background-color: #ff970f;
  color: white;
}

/* Search bar container*/
.search-bar {
  float: right;
}

/* Search input styling */
.navbar input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* Search bar button */
.navbar .search-bar button {
  float: right;
  border: none;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  cursor: pointer;
}